<!DOCTYPE html>
<html>
  <head>
    <title>Express-it-todos</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= data.appName %></h1>
    <form method="POST" action="/todos">
      <input type="text" name="todo" /> <input type="submit" value="Submit" />
    </form>
    <ul>
      <% data.todos.forEach(todo => {%>
      <li><%= todo %></li>
      <button id="delete" data-todo="<%- todo %>">Delete</button>
      <% }) %>
    </ul>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"
  ></script>
  <script>
    $('button').on('click', event => {
      console.log(event.target.attributes['data-todo'].value);
      let todo = event.target.attributes['data-todo'].value
      $.ajax({
        url: '/todos/' + todo,
        type: 'DELETE',
        success: function(result){
          // location.reload();
          console.log(result);
          window.location.reload();
        }
      })
    })
  </script>
</html>
