<!DOCTYPE html>
<html>
  <head>
    <title>Express-it-todos</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <h1><%= data.appName %></h1>
      <form method="POST" action="/todos">
        <input type="text" name="todo" /> <input type="submit" value="Submit" />
      </form>
      <ul>
        <% data.todos.forEach(todo => {%>
        <li><%= todo %></li>
        <button id="delete" data-todo="<%- todo %>">Delete</button>
        <button id="update" data-todo="<%- todo %>">Update</button>
        <% }) %>
      </ul>
    </div>
  </body>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"
  ></script>
  <script src="javascripts/app.js"></script>
</html>
