<!DOCTYPE html>
<html>
  <head>
    <title>Express-it-todos</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Express-It-Todos</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <button
          id="new-todo"
          class="btn btn-outline-success my-2 my-sm-0 ml-auto"
          type="button"
          data-toggle="modal"
          data-target="#exampleModal"
          data-action="add-todo"
        >
          Add Todo
        </button>
      </div>
    </nav>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Todo</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" action="/todos">
              <label for="name">Name</label>
              <input type="text" name="name" class="name-form" /> <br />
              <label for="todo">Todo</label>
              <input type="text" name="todo" class="todo-form" />
              <!-- <input type="submit" value="Submit" /> -->
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              id="submit"
              class="btn btn-primary"
              data-dismiss="modal"
            >
              Save changes
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="div-main-wrapper mx-auto row" style="padding: .5em;">
        <!-- Testing -->
        <% data.forEach(todo => {%>
        <div class="col-sm-12 col-md-6 col-lg-6 mb-2" style="">
          <div class="card">
            <h2 class="card-title mx-auto"><%= todo.name %></h2>
            <!-- <img class="card-img-top" src="" alt="Card image cap" /> -->
            <div class="card-body">
              <p class="card-text mx-auto"><%= todo.todo %></p>
              <button
                id="update-todo"
                data-todo="<%- todo._id %>"
                data-action="update-todo"
                class="btn btn-warning"
              >
                Update
              </button>
              <button
                id="delete"
                data-todo="<%- todo._id %>"
                class="btn btn-danger"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </body>

  <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"
  ></script>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"
  ></script>

  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"
  ></script>
  <script src="javascripts/app.js"></script>
</html>
